{% extends "AppCoder/plantilla.html" %}

{% block titulo %}

Bienvenido Al Sitio

{% endblock %}

{% block formular %}
Le decimos Séptimo Arte, ¿por qué? Según la clasificación de Hegel, la arquitectura, la escultura, la pintura, la música y la poesía eran las artes principales. Pero luego, Ricciotto Canuto, artista italiano, escribió el Manifiesto de las siete artes y estableció allí una jerarquía moderna que todos utilizamos hasta el día de hoy: arquitectura, escultura, pintura, música, poesía/literatura, danza y cine.
{% endblock %}